#title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

.navbar {
    text-align: right;
    padding: 10px 40px 0 0;
}

.navbar ul {
    list-style: none;
}